 <!-- Place the following lines before @RenderBody -->
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="DONORs" asp-action="Index">Donors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="REQUESTs" asp-action="Index">Requests</a>
                </li>
            </ul>
            