
                <!-- Replace this code with <input asp-for="Request" class="form-control" />
                that comes after <label asp-for="Request" class="control-label"></label>  -->
                <select asp-for="Request" class="custom-select">
                    <option>A+</option>
                    <option>B+</option>
                    <option>AB+</option>
                    <option>AB-</option>
                    <option>A-</option>
                    <option>B-</option>
                    <option>O+</option>
                    <option>O-</option>
                </select>
                
                
            